h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.statistics {
  box-sizing: border-box;
  width: 300px;
  padding-top: 20px;
  box-shadow: 2px 10px 16px 9px rgba(34, 60, 80, 0.22);
  border: 1px solid #989898;
  border-radius: 5px;
  overflow: hidden;
}

.title {
  margin-bottom: 20px;

  text-transform: uppercase;
  text-align: center;
  color: #989898;
  font-size: 25px;
}

.stat-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  width: calc(100% / 4);
}
